.main-container {
    display: block;
    max-width: 60rem;
    width: 100%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;

    background-color: lightgray;
    min-height: 50rem;
}

.container-one {
    float: left;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    background-color: lightpink;
    min-height: 50rem;
}

input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: 96%;
}