.app {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f9fafb;
}

.app-container {
    display: grid;
    grid-template-columns: 348px 696px 696px;
    grid-template-rows: 1fr;
    width: 1740px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

button {
    cursor: pointer;
}