.app {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    width: calc(1700px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

button {
    cursor: pointer;
}