    .preview-bg {
        background-color: #e6e6e6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .preview-sticky {
        display: flex;
        flex-direction: column;
        position: -webkit-sticky;
        position: sticky;
        margin-top: 30px;
        top: 30px;
        margin-bottom: 30px;
    }
    
    .preview-container {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        /*
        height: 841.9px;
        width: 595.3px;
        */
        background-color: #ffffff;
        height: 48rem;
        aspect-ratio: 1 / 1.41;
    }
    
    .preview-container-child {
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        background-color: #ffffff;
        margin: 4.1025641025rem;
        font-size: 10.5px;
        font-family: 'Times New Roman', Times, serif;
        /* line-height: 1.277126465; */
        line-height: 1.45;
    }
    
    .space {
        margin-top: 13.8px;
        /*font-size + line-height*/
    }
    
    .twelve-px {
        font-size: 1.0434782608695652em;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .personal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .personal-name {
        font-size: 2.0869565217391304em;
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    
    .justify-space-between {
        display: flex;
        justify-content: space-between;
    }
    
    .bullet-space {
        margin: 0 2px;
    }
    
    .underline-border {
        border-bottom: 1px solid black;
    }
    
    .indent-left {
        margin-left: 18px;
    }
    
    ul {
        list-style-position: outside;
        margin-block: 0;
        padding-inline-start: 18px;
    }
    
    .right-space {
        margin-right: 2px;
    }
    
    .left-space {
        margin-left: 2px;
    }
    
    .print-button-container {
        margin-top: 15px;
    }
    
    .circle-icon {
        background-image: url(../Assets/circle.svg);
    }
    
    .print-icon {
        background-image: url(../Assets/printer.svg);
    }
    
    .download-icon {
        background-image: url(../Assets/download.svg);
    }