    .main-container {
        width: 55rem;
        line-height: 1.5;
        font-size: 2rem;
    }
    
    input {
        height: 2rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        border: 2px solid black;
    }
    
    label {
        font-size: 2rem;
    }
    
    form {
        margin: 10px auto;
        border: 1px solid #ccc;
        padding: 20px;
        margin-left: 20px;
        border-style: none none none solid;
    }
    
    pre {
        border: 1px solid #ccc;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
    
    .buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 15px;
    }
    
    .main-container button {
        margin: 0 10px;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        width: 96%;
    }
    
    .form-input-name {
        font-size: 1rem;
        margin: 0;
    }
    
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 1fr;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        border-style: none none solid none;
    }
    
    .form div {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 0;
    }
    
    .form label {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    .button-form-remove {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    
    .form-bullet {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .form-bullet button {
        width: 75%;
        background-color: blue;
    }
    
    .button-add-form {
        border: 1px solid #ccc;
        padding: 20px;
        margin-left: 20px;
        border-style: solid;
    }