    .main-container {
        max-width: 100%;
        line-height: 1.5;
    }
    
    .icon-size {
        height: 1rem;
        width: 1rem;
        display: block;
        border: 0;
        background-color: transparent;
    }
    
    .icon-button:hover {
        filter: invert(38%) sepia(41%) saturate(1168%) hue-rotate(135deg) brightness(100%) contrast(100%);
        cursor: pointer;
    }
    
    input,
    textarea {
        height: 2rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        max-width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1) inset;
    }
    
    input:active {
        background-color: white;
    }
    
    form {
        margin: 10px auto;
        border: 3px solid #ccc;
        padding: 20px;
        margin-left: 20px;
        border-style: none none none solid;
    }
    
    pre {
        border: 1px solid #ccc;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
    
    .submit-icon {
        background-image: url(../Assets/check.svg);
    }
    
    .reset-icon {
        background-image: url(../Assets/restart.svg);
    }
    
    .submit-icon,
    .reset-icon,
    .print-icon,
    .download-icon {
        height: 1.3rem;
        width: 1.3rem;
        filter: invert(38%) sepia(41%) saturate(1168%) hue-rotate(135deg) brightness(100%) contrast(100%);
    }
    
    .submit-buttons,
    .print-button-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 45px;
    }
    
    .submit-text,
    .bullet-icon-text {
        padding-left: 5px;
        font-size: 1.1rem;
    }
    
    .submit-buttons button,
    .print-button-container button {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem !important;
        margin: 0 15px;
    }
    
    .main-container button,
    .print-button {
        border: 1px solid #ccc;
        border-radius: 30px;
        -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1) inset;
        color: black;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
    }
    
    .main-container button:hover,
    .print-button:hover {
        background-color: #008b8b;
        color: white;
    }
    
    .main-container button:hover svg,
    .print-button-container button:hover svg {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(112%) contrast(109%);
    }
    
    .form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    
    .form-top-border-divider {
        border: 3px solid #ccc;
        border-style: solid none none none;
        margin: 40px 0;
    }
    
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .two-column-one-two-column {
        grid-column: 1 / 2;
    }
    
    .two-column-one-three-column {
        grid-column: 1 / 3;
    }
    
    .padding-one-rem {
        padding-top: 1rem;
    }
    
    .flex-column-margin {
        display: flex;
        flex-direction: column;
        margin: 5px 20px 0 0;
    }
    
    .button-divider {
        border: 1px solid #ccc;
        border-style: solid none none none;
        margin: 15px 0 15px 0;
    }
    
    .button-form-remove-container {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        margin-top: 15px !important;
    }
    
    .button-form-remove-container button {
        display: flex;
        flex-direction: row;
    }
    
    .form-bullet {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        margin-top: 20px !important;
    }
    
    .button-add-experience-acquired {
        margin-bottom: 20px;
    }
    
    .button-add-form {
        border: 1px solid #ccc;
        padding: 20px;
        margin-left: 20px;
        border-style: solid;
    }
    
    .experiences-acquired {
        display: flex !important;
        flex-direction: row !important;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .circle-icon {
        background-image: url(../Assets/circle.svg);
    }
    
    .bullet-icon {
        margin: 10px;
    }
    
    .remove-bullet {
        background-image: url(../Assets/delete.svg);
    }
    
    .experiences-acquired textarea {
        width: 100%;
        height: 4rem;
        resize: none;
        margin-left: 5px;
        padding: 5px 0 0 5px;
    }
    
    .button-add-new-form {
        grid-column: 1 / 2;
        grid-row: 1/ 7;
    }
    
    .margin-top-forms {
        margin-top: 20px;
    }
    
    .close-icon {
        background-image: url(../Assets/close-thick.svg);
        height: 1.2rem;
        width: 1.2rem;
        filter: invert(38%) sepia(41%) saturate(1168%) hue-rotate(135deg) brightness(100%) contrast(100%);
    }
    
    .add-icon {
        background-image: url(../Assets/add-thick.svg);
        height: 1.2rem;
        width: 1.2rem;
        filter: invert(38%) sepia(41%) saturate(1168%) hue-rotate(135deg) brightness(100%) contrast(100%);
    }
    
    .skills-label {
        margin-bottom: 20px;
    }