.navbar-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.navbar-sticky {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 30px;
    top: 1rem;
    margin-left: 59.25px;
}

.navbar-sticky a {
    padding-left: 5px;
}

.navbar-active {
    border-left: 5px solid #008b8b;
    padding-left: 0px !important;
}

.navbar-active button {
    font-weight: 700;
}

.navbar-sticky a button {
    background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}