.navbar-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.navbar-sticky {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

.navbar-container button {
    border: none;
    font-size: 1.5rem;
    color: black;
    text-align: left;
    vertical-align: middle;
    height: 50px;
}

.navbar-active {
    border-left: 3px solid aqua;
}

.navbar-sticky a button {
    background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}