    .main-container {
        width: 55rem;
        line-height: 1.5;
        font-size: 2rem;
    }
    
    .container {}
    
    input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 2rem;
        margin-top: 0.2rem;
        margin-left: 0.7rem;
        margin-bottom: 0.2rem;
        width: 96%;
        border: 0.01rem solid black;
        border-radius: 0.3rem;
    }
    
    label {
        font-size: 2.5rem;
    }
    
    form {
        margin: 10px auto;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    
    pre {
        border: 1px solid #ccc;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }
    
    .buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 15px;
    }
    
    .main-container button {
        margin: 0 10px;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        width: 96%;
    }